auto lo
iface lo inet loopback

iface {{ pve_wan_interface | default(ansible_default_ipv4.interface) }} inet manual

{% if pve_lan_interface | length %}
iface {{ pve_lan_interface }} inet {{ pve_lan_interface_mode | default ("dhcp") }}
{% endif %}

{% if pve_vmbr2_interface | length %}
iface {{ pve_vmbr2_interface }} inet {{ pve_vmbr2_interface_mode | default ("dhcp") }}
{% endif %}

{% if pve_vmbr3_interface | length %}
iface {{ pve_vmbr3_interface }} inet {{ pve_vmbr3_interface_mode | default ("dhcp") }}
{% endif %}

auto vmbr0
iface vmbr0 inet static
    address {{ pve_wan_address | default(ansible_default_ipv4.address) }}
    netmask {{ pve_wan_netmask | default(ansible_default_ipv4.netmask) }}
    gateway {{ pve_wan_gateway | default(ansible_default_ipv4.gateway) }}
    bridge_ports {{ pve_wan_interface | default(ansible_default_ipv4.interface) }}
    bridge_stp off
    bridge_fd 0
# {{ pve_vmbr0_desc | default ("WAN") }}

auto vmbr1
iface vmbr1 inet manual
{% if pve_lan_interface | length %}
    bridge_ports {{ pve_lan_interface }}
{% else %}
    bridge_ports none
{% endif %}
    bridge_stp off
    bridge_fd 0
# {{ pve_vmbr1_desc | default ("LAN")}}

{% if pve_vmbr2_enabled %}
auto vmbr2
iface vmbr2 inet manual
{% if pve_vmbr2_interface | length %}
    bridge_ports {{ pve_vmbr2_interface }}
{% else %}
    bridge_ports none
{% endif %}
    bridge_stp off
    bridge_fd 0
# {{ pve_vmbr2_desc | default ("OPT1") }}
{% endif %}

{% if pve_vmbr3_enabled %}
auto vmbr3
iface vmbr3 inet manual
{% if pve_vmbr3_interface | length %}
    bridge_ports {{ pve_vmbr3_interface }}
{% else %}
    bridge_ports none
{% endif %}
    bridge_stp off
    bridge_fd 0
# {{ pve_vmbr3_desc | default ("OPT2") }}
{% endif %}
